{% extends 'base.html' %}


{% block content %}
{% load crispy_forms_tags %}


<div class="row">
{% include 'dashbord/sidebar.html' %}


  <div class="col-md-9">
      <h2 class="text-center">Edit Category</h2>
     <form method="POST" action="{% url 'edit_category' category_instance.id %}" style="width:500px; margin:auto;">
        {% csrf_token %}
       
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Submit</button>        

    
     </form>
  </div>
</div>



{% endblock %}